<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - YouTube Subscription Check</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to YouTube Subscription Checker</h1>
    </div>
    <div class="container animation" style=" padding-bottom: 80px;">
        <h2>Log in to continue <span>&#128075</span></h2>
        <br>
        <a href="/auth/google" class="button">Sign in with Google</a>
    </div>
</body>
</html>
